html, body {
  position: relative;
  height: 100%; }

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff; }

.center {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.landing-page {
  height: 2160px;
  width: 3840px;
  background-image: url("../assets/imgs/landing-background.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .landing-page .nav-line-bottom {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12.5%; }
    .landing-page .nav-line-bottom .arrow-down {
      position: absolute;
      cursor: pointer;
      height: 100%;
      width: auto; }
  .landing-page .headline {
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 40%; }
    .landing-page .headline h1 {
      display: inline-block;
      color: #ffffff;
      font-size: 60px; }
    .landing-page .headline img {
      position: absolute;
      top: 10px;
      left: -230px;
      height: 200px;
      width: 200px;
      display: inline-block; }

@media screen and (max-width: 1080px) and (min-width: 900px) {
  .landing-page .headline img {
    margin-top: -20px;
    margin-left: 20px;
    height: 180px;
    width: 180px; }
  .landing-page .headline h1 {
    font-size: 50px; } }
@media screen and (max-width: 899px) and (min-width: 700px) {
  .landing-page {
    margin-left: -40px; }
    .landing-page .headline img {
      margin-top: -20px;
      margin-left: 60px;
      height: 150px;
      width: 150px; }
    .landing-page .headline h1 {
      font-size: 40px; } }
@media screen and (max-width: 699px) and (min-width: 480px) {
  .landing-page .headline img {
    margin-top: -30px;
    margin-left: 90px;
    height: 120px;
    width: 120px; }
  .landing-page .headline h1 {
    font-size: 25px; } }
@media screen and (max-width: 479px) and (min-width: 320px) {
  .landing-page {
    margin-left: -25px; }
    .landing-page .headline img {
      margin-top: -20px;
      margin-left: 140px;
      height: 80px;
      width: 80px; }
    .landing-page .headline h1 {
      font-size: 18px; } }
@media screen and (max-width: 319px) and (min-width: 0px) {
  .landing-page {
    margin-left: -25px; }
    .landing-page .headline img {
      margin-top: -10px;
      margin-left: 165px;
      height: 55px;
      width: 55px; }
    .landing-page .headline h1 {
      font-size: 15px; } }
.general-infos {
  background-color: brown;
  display: none; }

.mobile-navbar {
  display: inline-block;
  text-align: center;
  position: relative;
  padding-top: 3%; }
  .mobile-navbar .mobile-nav-icons {
    padding: 10px 10px 10px 10px;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    border: 1px solid transparent; }
    .mobile-navbar .mobile-nav-icons .active {
      background-color: #004081;
      border-radius: 50%;
      border: 1px solid transparent; }
    .mobile-navbar .mobile-nav-icons .mobile-nav-icons:hover {
      background-color: #004081;
      border-radius: 50%;
      border: 1px solid transparent; }

.foreword {
  background-color: #005ba9; }
  .foreword .mobile-foreword {
    height: auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    color: #fff; }

.opening-hours {
  background-color: #005ba9; }
  .opening-hours .mobile-times {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32%;
    color: #fff; }

.maps {
  background-color: #005ba9; }
  .maps .mobile-maps {
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    color: #fff; }
    .maps .mobile-maps p {
      line-height: 8px; }
    .maps .mobile-maps .maps-button {
      text-decoration: none;
      cursor: pointer;
      -webkit-box-shadow: 12px 12px 50px 3px rgba(0, 0, 0, 0.47);
      -moz-box-shadow: 12px 12px 50px 3px rgba(0, 0, 0, 0.47);
      box-shadow: 12px 12px 50px 3px rgba(0, 0, 0, 0.47);
      margin-top: 15%;
      padding: 3% 5%;
      display: inline-block;
      background-color: #fff;
      vertical-align: middle; }
      .maps .mobile-maps .maps-button .button-text {
        color: #000;
        display: inline-block;
        vertical-align: middle; }
      .maps .mobile-maps .maps-button .button-icon {
        vertical-align: middle;
        display: inline-block;
        color: #000; }

.contact {
  background-color: #005ba9; }
  .contact .mobile-contact {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32%;
    color: white; }

.arrow-right-info {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 40px;
  cursor: pointer;
  color: #fff; }

.arrow-left-info {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 40px;
  cursor: pointer;
  color: #fff; }

.team-page {
  background-color: teal;
  display: none; }

.mobile-team-info {
  position: absolute;
  bottom: 0;
  background-color: #005ba9;
  height: 30%;
  width: 100%; }

.andreas-mobile .mobile-picture-andreas {
  position: relative;
  background-image: url("../assets/imgs/Andreas.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 240px;
  height: 250px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto; }

.arrow-right {
  position: absolute;
  right: 0;
  top: 40%;
  font-size: 48px;
  cursor: pointer; }

.arrow-left {
  position: absolute;
  left: 0;
  top: 40%;
  font-size: 48px;
  cursor: pointer; }

.mobile-name {
  margin-top: 5%; }
  .mobile-name p {
    font-weight: bold; }

.mobile-team-content {
  padding: 2% 0 2% 0; }
  .mobile-team-content .mobile-mail {
    margin: 2%; }
  .mobile-team-content p {
    padding: 1%;
    display: inline;
    vertical-align: middle;
    text-align: center;
    color: white; }
  .mobile-team-content i {
    margin-right: 1%;
    display: inline;
    vertical-align: middle;
    text-align: center; }

.felix-mobile .mobile-picture-felix {
  background-image: url("../assets/imgs/Felix.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 240px;
  height: 250px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%; }

.stefan-mobile .mobile-picture-stefan {
  background-image: url("../assets/imgs/Stefan.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 240px;
  height: 250px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%; }

.tanja-mobile .mobile-picture-tanja {
  background-image: url("../assets/imgs/Tanja.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 240px;
  height: 250px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%; }

.silvia-mobile .mobile-picture-silvia {
  background-image: url("../assets/imgs/Silvia.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 240px;
  height: 250px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%; }

.jasminke-mobile .mobile-picture-jasminke {
  background-image: url("../assets/imgs/Jasminke.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 240px;
  height: 250px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%; }

.nav-line-top {
  width: 100%;
  height: 12.5%;
  position: relative;
  top: 0; }
  .nav-line-top .arrow-up {
    cursor: pointer;
    height: 100%;
    width: auto;
    position: absolute; }

.nav-line-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12.5%; }
  .nav-line-bottom .arrow-down {
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: auto; }

/*# sourceMappingURL=style_mobile.css.map */
