html, body {
  position: relative;
  height: 100%; }

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: #fff; }

.center {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.landing-page {
  height: 2160px;
  width: 3840px;
  background-image: url("../assets/imgs/landing-background.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .landing-page .nav-line-bottom {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12.5%; }
    .landing-page .nav-line-bottom .arrow-down {
      position: absolute;
      cursor: pointer;
      height: 100%;
      width: auto; }
  .landing-page .headline {
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 40%; }
    .landing-page .headline h1 {
      display: inline-block;
      color: #ffffff;
      font-size: 60px; }
    .landing-page .headline img {
      position: absolute;
      top: 10px;
      left: -230px;
      height: 200px;
      width: 200px;
      display: inline-block; }

@media screen and (max-width: 1080px) and (min-width: 900px) {
  .landing-page .headline img {
    margin-top: -20px;
    margin-left: 20px;
    height: 180px;
    width: 180px; }
  .landing-page .headline h1 {
    font-size: 50px; } }
@media screen and (max-width: 899px) and (min-width: 700px) {
  .landing-page {
    margin-left: -40px; }
    .landing-page .headline img {
      margin-top: -20px;
      margin-left: 60px;
      height: 150px;
      width: 150px; }
    .landing-page .headline h1 {
      font-size: 40px; } }
@media screen and (max-width: 699px) and (min-width: 480px) {
  .landing-page .headline img {
    margin-top: -30px;
    margin-left: 90px;
    height: 120px;
    width: 120px; }
  .landing-page .headline h1 {
    font-size: 25px; } }
@media screen and (max-width: 479px) and (min-width: 320px) {
  .landing-page {
    margin-left: -25px; }
    .landing-page .headline img {
      margin-top: -20px;
      margin-left: 140px;
      height: 80px;
      width: 80px; }
    .landing-page .headline h1 {
      font-size: 18px; } }
@media screen and (max-width: 319px) and (min-width: 0px) {
  .landing-page {
    margin-left: -25px; }
    .landing-page .headline img {
      margin-top: -10px;
      margin-left: 165px;
      height: 55px;
      width: 55px; }
    .landing-page .headline h1 {
      font-size: 15px; } }
.general-infos {
  background-color: brown;
  display: none; }

.mobile-navbar {
  display: inline-block;
  text-align: center;
  position: relative;
  padding-top: 3%; }
  .mobile-navbar .mobile-nav-icons {
    padding: 10px 10px 10px 10px;
    color: #fff;
    font-size: 40px;
    cursor: pointer; }
    .mobile-navbar .mobile-nav-icons .mobile-nav-icons:hover {
      background-color: #004081;
      border-radius: 50%;
      border: 1px solid grey; }
    .mobile-navbar .mobile-nav-icons .mobile-nav-icons:active {
      background-color: #004081;
      border-radius: 50%;
      border: 1px solid grey; }

.foreword {
  background-color: #005ba9; }

.opening-hours {
  background-color: #005ba9; }

.maps {
  background-color: #005ba9; }

.contact {
  background-color: #005ba9; }

.team-page {
  background-color: teal;
  display: none; }

.andreas {
  background-color: #005ba9; }

.felix {
  background-color: #005ba9; }

.stefan {
  background-color: #005ba9; }

.tanja {
  background-color: #005ba9; }

.silvia {
  background-color: #005ba9; }

.jasminke {
  background-color: #005ba9; }

.nav-line-top {
  width: 100%;
  height: 12.5%;
  position: relative;
  top: 0; }
  .nav-line-top .arrow-up {
    cursor: pointer;
    height: 100%;
    width: auto;
    position: absolute; }

.nav-line-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12.5%; }
  .nav-line-bottom .arrow-down {
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: auto; }

/*# sourceMappingURL=style_mobile.css.map */
