html, body {
  position: relative;
  height: 100%;
  font-family: Arial; }

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0; }

.center {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  height: 100%;
  width: 100%;
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.landing-page {
  height: 100%;
  width: 100%;
  background-image: url("../assets/imgs/landing-background.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .landing-page .nav-line-bottom {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12.5%; }
    .landing-page .nav-line-bottom .arrow-down {
      position: absolute;
      cursor: pointer;
      height: 100%;
      width: auto; }
  .landing-page .headline {
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 30%; }
    .landing-page .headline h1 {
      display: inline-block;
      color: #ffffff;
      font-size: 60px; }
    .landing-page .headline img {
      position: absolute;
      top: 10px;
      left: -230px;
      height: 200px;
      width: 200px;
      display: inline-block; }

@media screen and (max-width: 3000px) and (min-width: 1600px) {
  .landing-page .headline img {
    margin-left: -80px;
    margin-top: -20px;
    height: 280px;
    width: 280px; }
  .landing-page .headline h1 {
    font-size: 70px; } }
@media screen and (max-width: 1599px) and (min-width: 1280px) {
  .landing-page img {
    height: 250px;
    width: 250px; }
  .landing-page h1 {
    font-size: 60px; } }
@media screen and (max-width: 1279px) and (min-width: 1081px) {
  .landing-page .headline img {
    margin-top: -20px;
    height: 200px;
    width: 200px; }
  .landing-page .headline h1 {
    font-size: 50px; } }
.general-infos {
  background-color: #e2e2e2; }
  .general-infos .general-infos-wrapper {
    -webkit-box-shadow: 12px 12px 50px 3px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 12px 12px 50px 3px rgba(0, 0, 0, 0.47);
    box-shadow: 12px 12px 50px 3px rgba(0, 0, 0, 0.47);
    position: relative;
    width: 75%;
    height: 75%;
    background-color: grey;
    line-height: 0; }
    .general-infos .general-infos-wrapper .infos-foreword {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 50%;
      background-color: #005ba9; }
      .general-infos .general-infos-wrapper .infos-foreword .content {
        line-height: normal;
        padding: 5%;
        color: #fff; }
        .general-infos .general-infos-wrapper .infos-foreword .content h1 {
          margin-top: 0; }
        .general-infos .general-infos-wrapper .infos-foreword .content p {
          margin: 0;
          padding: 0; }
    .general-infos .general-infos-wrapper .infos-times {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 50%;
      background-color: #ffffff; }
      .general-infos .general-infos-wrapper .infos-times .content {
        line-height: normal; }
        .general-infos .general-infos-wrapper .infos-times .content table td {
          font-size: 30px; }
    .general-infos .general-infos-wrapper .infos-maps {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 50%;
      background-color: #000000; }
    .general-infos .general-infos-wrapper .infos-contact {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50%;
      height: 50%;
      background-color: #004081; }
      .general-infos .general-infos-wrapper .infos-contact .content {
        line-height: normal;
        padding: 5%;
        color: #fff; }
        .general-infos .general-infos-wrapper .infos-contact .content h1 {
          margin-top: 0; }
        .general-infos .general-infos-wrapper .infos-contact .content p {
          margin: 0;
          padding: 0; }
  .general-infos .nav-line-top {
    width: 100%;
    height: 12.5%;
    position: absolute;
    top: 0; }
    .general-infos .nav-line-top .arrow-up {
      cursor: pointer;
      height: 100%;
      width: auto;
      position: absolute; }
  .general-infos .nav-line-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12.5%; }
    .general-infos .nav-line-bottom .arrow-down {
      position: absolute;
      cursor: pointer;
      height: 100%;
      width: auto; }

@media screen and (max-width: 3000px) and (min-width: 1921px) {
  .general-infos .general-infos-wrapper .infos-foreword .content h1 {
    font-size: 50px; }
  .general-infos .general-infos-wrapper .infos-foreword .content p {
    font-size: 32px; }
  .general-infos .general-infos-wrapper .infos-times .content {
    margin-top: -5%; }
    .general-infos .general-infos-wrapper .infos-times .content tr td {
      font-size: 32px; }
    .general-infos .general-infos-wrapper .infos-times .content h1 {
      font-size: 50px; }
  .general-infos .general-infos-wrapper .infos-contact .content h1 {
    font-size: 50px; }
  .general-infos .general-infos-wrapper .infos-contact .content p {
    font-size: 32px; } }
@media screen and (max-width: 1920px) and (min-width: 1600px) {
  .general-infos .general-infos-wrapper .infos-foreword .content h1 {
    font-size: 40px; }
  .general-infos .general-infos-wrapper .infos-foreword .content p {
    font-size: 25px; }
  .general-infos .general-infos-wrapper .infos-times .content {
    margin-top: -3%; }
    .general-infos .general-infos-wrapper .infos-times .content tr td {
      font-size: 27px; }
    .general-infos .general-infos-wrapper .infos-times .content h1 {
      font-size: 40px; }
  .general-infos .general-infos-wrapper .infos-contact .content h1 {
    font-size: 40px; }
  .general-infos .general-infos-wrapper .infos-contact .content p {
    font-size: 27px; } }
@media screen and (max-width: 1599px) and (min-width: 1280px) {
  .general-infos .general-infos-wrapper .infos-foreword .content h1 {
    font-size: 35px; }
  .general-infos .general-infos-wrapper .infos-foreword .content p {
    font-size: 20px; }
  .general-infos .general-infos-wrapper .infos-times .content {
    margin-top: -3%; }
    .general-infos .general-infos-wrapper .infos-times .content tr td {
      font-size: 22px; }
    .general-infos .general-infos-wrapper .infos-times .content h1 {
      font-size: 35px; }
  .general-infos .general-infos-wrapper .infos-contact .content h1 {
    font-size: 35px; }
  .general-infos .general-infos-wrapper .infos-contact .content p {
    font-size: 22px; } }
@media screen and (max-width: 1279px) and (min-width: 1081px) {
  .general-infos .general-infos-wrapper .infos-foreword .content h1 {
    font-size: 25px; }
  .general-infos .general-infos-wrapper .infos-foreword .content p {
    font-size: 18px; }
  .general-infos .general-infos-wrapper .infos-times .content {
    margin-top: -3%; }
    .general-infos .general-infos-wrapper .infos-times .content tr td {
      font-size: 20px; }
    .general-infos .general-infos-wrapper .infos-times .content h1 {
      font-size: 25px; }
  .general-infos .general-infos-wrapper .infos-contact .content h1 {
    font-size: 25px; }
  .general-infos .general-infos-wrapper .infos-contact .content p {
    font-size: 20px; } }
.foreword {
  background-color: red;
  display: none; }

.opening-hours {
  background-color: blue;
  display: none; }

.maps {
  background-color: green;
  display: none; }

.contact {
  background-color: yellow;
  display: none; }

.team-page {
  background-color: teal; }
  .team-page .team-wrapper {
    position: relative;
    height: 75%;
    width: 75%;
    background-color: red; }
    .team-page .team-wrapper .content {
      position: fixed;
      height: 100%;
      width: auto;
      background-color: green; }
    .team-page .team-wrapper .team-desktop {
      text-align: center;
      vertical-align: middle;
      background-color: #005AA7;
      width: 240px;
      height: 250px;
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 40%, 75% 80%, 25% 80%, 0% 40%);
      position: absolute;
      top: 335px;
      left: 230px; }
      .team-page .team-wrapper .team-desktop h1 {
        padding-top: 23%;
        color: #fff; }
    .team-page .team-wrapper .andreas-desktop {
      background-image: url("../assets/imgs/Andreas.JPG");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center bottom 25px;
      width: 240px;
      height: 250px;
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 40%, 75% 80%, 25% 80%, 0% 40%);
      position: absolute;
      top: 230px;
      left: 420px; }
      .team-page .team-wrapper .andreas-desktop .andreas-hovered {
        width: 240px;
        height: 250px;
        -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 75% 100%, 25% 100%, 0% 50%);
        clip-path: polygon(25% 0%, 75% 0%, 100% 40%, 75% 80%, 25% 80%, 0% 40%);
        background-color: rgba(0, 90, 167, 0.76);
        opacity: 0;
        -webkit-transition: opacity .5s;
        -moz-transition: opacity .5s;
        -ms-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s; }
        .team-page .team-wrapper .andreas-desktop .andreas-hovered h1 {
          padding-top: 20%;
          margin: 0;
          font-size: 20px;
          color: #fff;
          text-align: center; }
        .team-page .team-wrapper .andreas-desktop .andreas-hovered .mail {
          margin-left: 24px;
          text-align: center;
          display: inline; }
          .team-page .team-wrapper .andreas-desktop .andreas-hovered .mail p {
            display: inline;
            font-size: 15px;
            color: #fff;
            vertical-align: middle; }
            .team-page .team-wrapper .andreas-desktop .andreas-hovered .mail p i {
              color: #fff;
              padding-right: 5px;
              vertical-align: middle;
              display: inline;
              font-size: 20px; }
        .team-page .team-wrapper .andreas-desktop .andreas-hovered .phone {
          margin-left: 40px;
          text-align: center;
          display: inline;
          padding-top: 10px; }
          .team-page .team-wrapper .andreas-desktop .andreas-hovered .phone p {
            display: inline;
            font-size: 13px;
            color: #fff;
            vertical-align: middle; }
            .team-page .team-wrapper .andreas-desktop .andreas-hovered .phone p i {
              color: #fff;
              padding-right: 2px;
              vertical-align: middle;
              display: inline;
              font-size: 20px; }
      .team-page .team-wrapper .andreas-desktop:hover .andreas-hovered {
        opacity: 1; }
    .team-page .team-wrapper .felix-desktop {
      background-image: url("../assets/imgs/Felix.JPG");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom 20px left -50px;
      width: 240px;
      height: 250px;
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 40%, 75% 80%, 25% 80%, 0% 40%);
      position: absolute;
      left: 610px;
      top: 125px; }
      .team-page .team-wrapper .felix-desktop .felix-hovered {
        width: 240px;
        height: 250px;
        -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 75% 100%, 25% 100%, 0% 50%);
        clip-path: polygon(25% 0%, 75% 0%, 100% 40%, 75% 80%, 25% 80%, 0% 40%);
        background-color: rgba(0, 90, 167, 0.76);
        opacity: 0;
        -webkit-transition: opacity .5s;
        -moz-transition: opacity .5s;
        -ms-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s; }
        .team-page .team-wrapper .felix-desktop .felix-hovered h1 {
          padding-top: 20%;
          margin: 0;
          font-size: 20px;
          color: #fff;
          text-align: center; }
        .team-page .team-wrapper .felix-desktop .felix-hovered .mail {
          margin-left: 24px;
          text-align: center;
          display: inline; }
          .team-page .team-wrapper .felix-desktop .felix-hovered .mail p {
            display: inline;
            font-size: 15px;
            color: #fff;
            vertical-align: middle; }
            .team-page .team-wrapper .felix-desktop .felix-hovered .mail p i {
              color: #fff;
              padding-right: 5px;
              vertical-align: middle;
              display: inline;
              font-size: 20px; }
        .team-page .team-wrapper .felix-desktop .felix-hovered .phone {
          margin-left: 40px;
          text-align: center;
          display: inline;
          padding-top: 10px; }
          .team-page .team-wrapper .felix-desktop .felix-hovered .phone p {
            display: inline;
            font-size: 13px;
            color: #fff;
            vertical-align: middle; }
            .team-page .team-wrapper .felix-desktop .felix-hovered .phone p i {
              color: #fff;
              padding-right: 2px;
              vertical-align: middle;
              display: inline;
              font-size: 20px; }
      .team-page .team-wrapper .felix-desktop:hover .felix-hovered {
        opacity: 1; }
    .team-page .team-wrapper .stefan-desktop {
      background-image: url("../assets/imgs/Stefan.JPG");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom 25px right -50px;
      width: 240px;
      height: 250px;
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 40%, 75% 80%, 25% 80%, 0% 40%);
      position: absolute;
      left: 800px;
      top: 230px; }
      .team-page .team-wrapper .stefan-desktop .stefan-hovered {
        width: 240px;
        height: 250px;
        -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 75% 100%, 25% 100%, 0% 50%);
        clip-path: polygon(25% 0%, 75% 0%, 100% 40%, 75% 80%, 25% 80%, 0% 40%);
        background-color: rgba(0, 90, 167, 0.76);
        opacity: 0;
        -webkit-transition: opacity .5s;
        -moz-transition: opacity .5s;
        -ms-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s; }
        .team-page .team-wrapper .stefan-desktop .stefan-hovered h1 {
          padding-top: 20%;
          margin: 0;
          font-size: 20px;
          color: #fff;
          text-align: center; }
        .team-page .team-wrapper .stefan-desktop .stefan-hovered .mail {
          margin-left: 24px;
          text-align: center;
          display: inline; }
          .team-page .team-wrapper .stefan-desktop .stefan-hovered .mail p {
            display: inline;
            font-size: 15px;
            color: #fff;
            vertical-align: middle; }
            .team-page .team-wrapper .stefan-desktop .stefan-hovered .mail p i {
              color: #fff;
              padding-right: 5px;
              vertical-align: middle;
              display: inline;
              font-size: 20px; }
        .team-page .team-wrapper .stefan-desktop .stefan-hovered .phone {
          margin-left: 40px;
          text-align: center;
          display: inline;
          padding-top: 10px; }
          .team-page .team-wrapper .stefan-desktop .stefan-hovered .phone p {
            display: inline;
            font-size: 13px;
            color: #fff;
            vertical-align: middle; }
            .team-page .team-wrapper .stefan-desktop .stefan-hovered .phone p i {
              color: #fff;
              padding-right: 2px;
              vertical-align: middle;
              display: inline;
              font-size: 20px; }
      .team-page .team-wrapper .stefan-desktop:hover .stefan-hovered {
        opacity: 1; }
    .team-page .team-wrapper .tanja-desktop {
      background-image: url("../assets/imgs/Tanja.JPG");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center bottom 10px;
      width: 240px;
      height: 250px;
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 40%, 75% 80%, 25% 80%, 0% 40%);
      position: absolute;
      top: 442px;
      left: 800px; }
      .team-page .team-wrapper .tanja-desktop .tanja-hovered {
        width: 240px;
        height: 250px;
        -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 75% 100%, 25% 100%, 0% 50%);
        clip-path: polygon(25% 0%, 75% 0%, 100% 40%, 75% 80%, 25% 80%, 0% 40%);
        background-color: rgba(0, 90, 167, 0.76);
        opacity: 0;
        -webkit-transition: opacity .5s;
        -moz-transition: opacity .5s;
        -ms-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s; }
        .team-page .team-wrapper .tanja-desktop .tanja-hovered h1 {
          padding-top: 20%;
          margin: 0;
          font-size: 17px;
          color: #fff;
          text-align: center; }
        .team-page .team-wrapper .tanja-desktop .tanja-hovered .mail {
          margin-left: 18px;
          text-align: center;
          display: inline; }
          .team-page .team-wrapper .tanja-desktop .tanja-hovered .mail p {
            display: inline;
            font-size: 13px;
            color: #fff;
            vertical-align: middle; }
            .team-page .team-wrapper .tanja-desktop .tanja-hovered .mail p i {
              color: #fff;
              padding-right: 5px;
              vertical-align: middle;
              display: inline;
              font-size: 20px; }
        .team-page .team-wrapper .tanja-desktop .tanja-hovered .phone {
          margin-left: 40px;
          text-align: center;
          display: inline;
          padding-top: 10px; }
          .team-page .team-wrapper .tanja-desktop .tanja-hovered .phone p {
            display: inline;
            font-size: 13px;
            color: #fff;
            vertical-align: middle; }
            .team-page .team-wrapper .tanja-desktop .tanja-hovered .phone p i {
              color: #fff;
              padding-right: 2px;
              vertical-align: middle;
              display: inline;
              font-size: 20px; }
      .team-page .team-wrapper .tanja-desktop:hover .tanja-hovered {
        opacity: 1; }
    .team-page .team-wrapper .silvia-desktop {
      background-image: url("../assets/imgs/Silvia.JPG");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 240px;
      height: 250px;
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 40%, 75% 80%, 25% 80%, 0% 40%);
      position: absolute;
      top: 335px;
      left: 610px; }
      .team-page .team-wrapper .silvia-desktop .silvia-hovered {
        width: 240px;
        height: 250px;
        -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 75% 100%, 25% 100%, 0% 50%);
        clip-path: polygon(25% 0%, 75% 0%, 100% 40%, 75% 80%, 25% 80%, 0% 40%);
        background-color: rgba(0, 90, 167, 0.76);
        opacity: 0;
        -webkit-transition: opacity .5s;
        -moz-transition: opacity .5s;
        -ms-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s; }
        .team-page .team-wrapper .silvia-desktop .silvia-hovered h1 {
          padding-top: 20%;
          margin: 0;
          font-size: 20px;
          color: #fff;
          text-align: center; }
        .team-page .team-wrapper .silvia-desktop .silvia-hovered .mail {
          margin-left: 18px;
          text-align: center;
          display: inline; }
          .team-page .team-wrapper .silvia-desktop .silvia-hovered .mail p {
            display: inline;
            font-size: 13px;
            color: #fff;
            vertical-align: middle; }
            .team-page .team-wrapper .silvia-desktop .silvia-hovered .mail p i {
              color: #fff;
              padding-right: 5px;
              vertical-align: middle;
              display: inline;
              font-size: 20px; }
        .team-page .team-wrapper .silvia-desktop .silvia-hovered .phone {
          margin-left: 40px;
          text-align: center;
          display: inline;
          padding-top: 10px; }
          .team-page .team-wrapper .silvia-desktop .silvia-hovered .phone p {
            display: inline;
            font-size: 13px;
            color: #fff;
            vertical-align: middle; }
            .team-page .team-wrapper .silvia-desktop .silvia-hovered .phone p i {
              color: #fff;
              padding-right: 2px;
              vertical-align: middle;
              display: inline;
              font-size: 20px; }
      .team-page .team-wrapper .silvia-desktop:hover .silvia-hovered {
        opacity: 1; }
    .team-page .team-wrapper .jasminke-desktop {
      background-image: url("../assets/imgs/Jasminke.JPG");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center bottom 25px;
      width: 240px;
      height: 250px;
      -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 75% 100%, 25% 100%, 0% 50%);
      clip-path: polygon(25% 0%, 75% 0%, 100% 40%, 75% 80%, 25% 80%, 0% 40%);
      position: absolute;
      left: 420px;
      top: 442px; }
      .team-page .team-wrapper .jasminke-desktop .jasminke-hovered {
        width: 240px;
        height: 250px;
        -webkit-clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 75% 100%, 25% 100%, 0% 50%);
        clip-path: polygon(25% 0%, 75% 0%, 100% 40%, 75% 80%, 25% 80%, 0% 40%);
        background-color: rgba(0, 90, 167, 0.76);
        opacity: 0;
        -webkit-transition: opacity .5s;
        -moz-transition: opacity .5s;
        -ms-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s; }
        .team-page .team-wrapper .jasminke-desktop .jasminke-hovered h1 {
          padding-top: 20%;
          margin: 0;
          font-size: 18px;
          color: #fff;
          text-align: center; }
        .team-page .team-wrapper .jasminke-desktop .jasminke-hovered .mail {
          margin-left: 18px;
          text-align: center;
          display: inline; }
          .team-page .team-wrapper .jasminke-desktop .jasminke-hovered .mail p {
            display: inline;
            font-size: 13px;
            color: #fff;
            vertical-align: middle; }
            .team-page .team-wrapper .jasminke-desktop .jasminke-hovered .mail p i {
              color: #fff;
              padding-right: 5px;
              vertical-align: middle;
              display: inline;
              font-size: 20px; }
        .team-page .team-wrapper .jasminke-desktop .jasminke-hovered .phone {
          margin-left: 40px;
          text-align: center;
          display: inline;
          padding-top: 10px; }
          .team-page .team-wrapper .jasminke-desktop .jasminke-hovered .phone p {
            display: inline;
            font-size: 13px;
            color: #fff;
            vertical-align: middle; }
            .team-page .team-wrapper .jasminke-desktop .jasminke-hovered .phone p i {
              color: #fff;
              padding-right: 2px;
              vertical-align: middle;
              display: inline;
              font-size: 20px; }
      .team-page .team-wrapper .jasminke-desktop:hover .jasminke-hovered {
        opacity: 1; }
  .team-page .nav-line-top {
    width: 100%;
    height: 12.5%;
    position: absolute;
    top: 0; }
    .team-page .nav-line-top .arrow-up {
      cursor: pointer;
      height: 100%;
      width: auto;
      position: absolute; }
  .team-page .nav-line-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12.5%; }
    .team-page .nav-line-bottom .arrow-down {
      position: absolute;
      cursor: pointer;
      height: 100%;
      width: auto; }

.andreas-mobile {
  background-color: orange;
  display: none; }

.felix-mobile {
  background-color: grey;
  display: none; }

.stefan-mobile {
  background-color: green;
  display: none; }

.tanja-mobile {
  background-color: blue;
  display: none; }

.silvia-mobile {
  background-color: yellow;
  display: none; }

.jasminke-mobile {
  background-color: purple;
  display: none; }

.impressum .nav-line-top {
  width: 100%;
  height: 12.5%;
  position: absolute;
  top: 0; }
  .impressum .nav-line-top .arrow-up {
    cursor: pointer;
    height: 100%;
    width: auto;
    position: absolute; }

/*# sourceMappingURL=style_desktop.css.map */
